* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  display: flex;
  padding: 30px;
  font-size: 30px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 600px;
  background-color: aquamarine;
}
button {
  height: 50px;
  width: 100px;
}
#opdisplay {
  display: flex;
  background-color: azure;
  height: 50px;
  width: 300px;
  justify-content: end;
  align-items: center;
  font-size: 14px;
}
#display {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: azure;
  height: 50px;
  width: 300px;
  font-size: 20px;
}
.bot {
  display: flex;
  gap: 5px;
}
.botleft {
  display: flex;
  flex-wrap: wrap;
}
.botright {
  display: flex;
  flex-wrap: wrap;
}
